<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rainfall prediction</title>
<link rel="stylesheet" href="styles.css">
</head>
<body background="https://webneel.com/wallpaper/sites/default/files/images/08-2018/2-nature-wallpaper-grass.preview.jpg" text="black">
    <style>
        body {    
            background-repeat: no-repeat ;     
            background-size: cover;
        }
    </style>
<div class="login">
<center><h1>{{prediction}}</h1></center>
<center><h1>No Chance of Rainfall enjoy your day</h1></center>
</body>
</html>